@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Aldrich, sans-serif;
}

body {
  background-color: #000;
}

@media only screen and (max-width: 790px) {
    h1 {
      font-size: 45px !important;
    }
    h2 {
      font-size: 30px !important;
    }
    p {
      font-size: 16px !important;
  }
  }

